* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.contactBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
  padding-top: 1em;
  height: 2.5em;
  background-color: #282a2b;
  color: #ffffff;
}

.heading {
  display: flex;
  justify-content: center;
  height: 15em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar {
  background-color: #282a2b;
  font-weight: bold;
  font-size: 1.25em;
  justify-content: center;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
}

.stickyMode {
  margin-top: 4em;
}

.carousel-item img {
  width: 100%;
  height: 35vw;
  object-fit: cover;
}

.serviceCarousel {
  width: 500px;
  height: 500px;
}

.servicesSection {
  padding: 5em;
  text-align: center;
  width: 100%;
}

.serviceLinks {
  text-decoration: none !important;
  color: #000000;
}

.jumbotron {
  margin: 0;
  background-color: #363839;
}

.container {
  border-radius: 0.5em;
  background-color: #f2f2f2;
  padding: 1.5em 0.5em 1.5em 0.5em;
  width: 100%;
}

.whatWeDoList {
  list-style: none;
}

.column {
  width: 50%;
  margin-top: 0.5em;
  padding: 3em;
}

.formColumn {
  padding-top: 7.25em;
}

.column img {
  width: 100%;
  object-fit: cover;
  margin: 5em 0em 0em 0em;
}

.card:hover {
  opacity: 0.5;
}

a:hover {
  color: inherit;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.fab {
  padding: 0.5em;
  font-size: 1.5em;
}

footer {
  position: sticky;
  bottom: -10em;
}

.footerTop {
  height: 5em;
  background-color: #363839;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-facebook-f {
  color: #3b5998;
}

.fa-linkedin-in {
  color: #0073b1;
}

.fa-youtube {
  color: #ff0000;
}

.footerBottom {
  height: 5em;
  background-color: #282a2b;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navStyling {
  display: flex;
  justify-content: space-around;
  background-color: #282a2b;
}

h3 {
  display: flex;
  justify-content: center;
  padding: 0em 0em 1em 0em;
}

.panel-group a {
  color: inherit;
}

.panel-group {
  padding-top: 3em;
}

/* Stying for contact form */
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #282a2b;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #363839;
}

/* Responsive layout - when the screen is less than 600px wide,
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .logoImg {
    width: 100%;
  }
}
